<html>
   	<head>
   		<title>
		Guessing Game Start 
		</title>
        		<link rel="stylesheet" type="text/css" href="/stylesheets/guessstyle.css">
   	</head>
	
	<body>
		<h1> Welcome to the Guessing Game </h1>

		<p> The purpose of the guessing game is to correctly guess the computer's number. The computer will guess a number between 0 - 1000. You will have 8 tries in order to win. After each guess, the computer will tell you if your number is <b> HIGHER</b> or<b> LOWER</b> than the computer's number. 

		<p> Ready to get started?

		<hr>
  			<form method = 'post' action = '/start'>
    				<span> Ready to Begin? </span>
    				<input type= 'submit' value= 'Begin' />

  			</form>
		<hr>

		<address> Made 7.1.13 <br>
    		     by Patrick Williams.</address>
	</body>
</html>


